{% load material_form %}
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form id='form' method="POST" action="subscribe/" class="viewform">
            {% csrf_token %}
            {% form form=form %}
            {% endform %}
        </form>
        <button id="submit-form-button" type="submit" name="_submit" class="btn btn-primary btn-lg">Submit</button>

    </div>
    <div class="modal-footer">
        <a id="close_button" href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
